body {
  background-color: black;
  color: white;
}

.new-list-div {
  padding-left: 20px;
}

.form-div {
  background-color: white;
  color: black;
}

.finished {
  background-color: gray;
  color: black;
  text-decoration: line-through;
}