body {
  background-color: black;
  color: white;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.content-window {
  background-color:rgb(216, 216, 216);
}

.new-list-div {
  padding-left: 20px;
}

.form-div {
  background-color: white;
  color: black;
}

.finished {
  background-color: gray;
  color: black;
  text-decoration: line-through;
}

.main-list {
background-color: black;
display: grid;
gap: 5px;
height: 90vh;
grid-auto-rows: max-content;
}

.main-list-item {
  border-style: solid;
  border-width: 2px;
  border-color:  rgb(116, 116, 116) rgb(116, 116, 116) rgb(46, 46, 46) rgb(46, 46, 46);
  background-color: rgb(56, 55, 55);
  height: 30px;
  width: 200px;
  display: grid;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-content: space-between;

}

.top-bar-date {
  padding-left: 20px;
}